In [1]:
pip install pandas

Requirement already satisfied: pandas in ./snap/jupyter/common/lib/python3.7/site-packages (1.2.4)
Requirement already satisfied: pytz>=2017.3 in ./snap/jupyter/common/lib/python3.7/site-packages (from pandas) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /snap/jupyter/6/lib/python3.7/site-packages (from pandas) (2.8.0)
Requirement already satisfied: numpy>=1.16.5 in ./snap/jupyter/common/lib/python3.7/site-packages (from pandas) (1.20.2)
Requirement already satisfied: six>=1.5 in /snap/jupyter/6/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.12.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd
data = pd.read_excel('/home/shakkib/Documents/assignment gfg.xlsx')

In [3]:
import langdetect as ld

ModuleNotFoundError: No module named 'langdetect'

In [ ]:
import pandas as pd
data = pd.read_excel('/home/shakkib/Documents/assignment gfg.xlsx')

In [ ]:
pip install xlrd

In [ ]:
import pandas as pd
data = pd.read_excel('/home/shakkib/Documents/assignment gfg.xlsx')

In [ ]:
pip install openpyxl

In [6]:
import pandas as pd
data = pd.read_excel('/home/shakkib/Documents/assignment gfg.xlsx')

In [7]:
data.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,text,id,created_at

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2005 entries, 0 to 2004
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  0 non-null      float64
 1   Unnamed: 1  0 non-null      float64
 2   Unnamed: 2  0 non-null      float64
 3   Unnamed: 3  0 non-null      float64
 4   Unnamed: 4  0 non-null      float64
 5   Unnamed: 5  0 non-null      float64
 6   Unnamed: 6  0 non-null      float64
 7   Unnamed: 7  2001 non-null   object
 8   Unnamed: 8  2001 non-null   object
 9   Unnamed: 9  2001 non-null   object
dtypes: float64(7), object(3)
memory usage: 156.8+ KB

In [10]:
data.shape()

TypeError: 'tuple' object is not callable

In [8]:
data.tail(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
1995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sahabat Raditya Dika Meninggal Dunia karena Co...,1241710168640869888,2020-03-22T12:55:48.000Z
1996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Go out, visit beach. Putin will buy ice-cream!...",1241743101884019968,2020-03-22T15:06:40.000Z
1997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,@SakshiHDTV @CMOKerala @vijayanpinarayi @CPIMK...,1241639775695600128,2020-03-22T08:16:05.000Z
1998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,For sure some Mabena went out last night becau...,1241713431583099904,2020-03-22T13:08:46.000Z
1999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,El número de personas contagiadas en la Región...,1241634777255630080,2020-03-22T07:56:14.000Z
2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Really! @realDonaldTrump @GOP YOUR DISGUSTING ...,1241718242890170112,2020-03-22T13:27:53.000Z
2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,The latest The Butterfly Effect! https://t.co/...,1241712911678159872,2020-03-22T13:06:42.000Z
2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,avinash_4972 गाव भोर तालुका भोर जिल्हा पुणे\n#...,1241639423147719936,2020-03-22T08:14:41.000Z
2003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,woi rmai jgk dkt muar yg kena yek @diasnaiffus...,1241709652842149888,2020-03-22T12:53:45.000Z
2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,La SSI (ex-RSI) prend des mesures pour souteni...,1241716435451340032,2020-03-22T13:20:42.000Z

In [9]:
data1=data.drop(['Unnamed: 0','Unnamed: 1','Unnamed: 2','Unnamed: 3','Unnamed: 4', 'Unnamed: 5' ,'Unnamed: 6','Unnamed: 8'],axis=1)

In [10]:
data1.head(10)

                                          Unnamed: 7                Unnamed: 9
0                                                NaN                       NaN
1                                                NaN                       NaN
2                                                NaN                       NaN
3                                                NaN                       NaN
4                                               text                created_at
5  #Cientificos #Delincuentes https://t.co/qMuDl8...  2020-03-22T16:33:33.000Z
6  Packed UK concerts amid rising Covid-19 cases ...  2020-03-22T11:35:12.000Z
7  #DiputadasQuerétaro   QUERÉTARO REFERENTE A NI...  2020-03-22T15:10:57.000Z
8  QUE PUTAS YA SON TANTOS, PARCEEEE??? O SEA EN ...  2020-03-22T05:21:12.000Z
9  en misiones no hay casos porque acá tenemos al...  2020-03-22T15:42:33.000Z

In [ ]:
data1.head(10)

In [11]:
data2 = data1.dropna()

In [12]:
data2.head(10)

,Unnamed: 7,Unnamed: 9
4,text,created_at
5,#Cientificos #Delincuentes https://t.co/qMuDl8...,2020-03-22T16:33:33.000Z
6,Packed UK concerts amid rising Covid-19 cases ...,2020-03-22T11:35:12.000Z
7,#DiputadasQuerétaro QUERÉTARO REFERENTE A NI...,2020-03-22T15:10:57.000Z
8,"QUE PUTAS YA SON TANTOS, PARCEEEE??? O SEA EN ...",2020-03-22T05:21:12.000Z
9,en misiones no hay casos porque acá tenemos al...,2020-03-22T15:42:33.000Z
10,Última hora: Pedro Sánchez avança als presiden...,2020-03-22T10:07:30.000Z
11,@derek_adesso Hover over any location in the w...,2020-03-22T04:08:28.000Z
12,https://t.co/AYPd7erCiB,2020-03-22T04:45:00.000Z
13,段々と外堀が、埋まってきましたね！ こんな状況で通常開催にこだわる日本政府は愚か💢\n\n【...,2020-03-22T09:32:08.000Z

In [ ]:
pip install langid

In [13]:
data2.columns = data2.iloc[0]

data2 = data2.iloc[1:].reset_index(drop=True)

In [18]:
data2.head(10)

4                                               text                created_at
0  #Cientificos #Delincuentes https://t.co/qMuDl8...  2020-03-22T16:33:33.000Z
1  Packed UK concerts amid rising Covid-19 cases ...  2020-03-22T11:35:12.000Z
2  #DiputadasQuerétaro   QUERÉTARO REFERENTE A NI...  2020-03-22T15:10:57.000Z
3  QUE PUTAS YA SON TANTOS, PARCEEEE??? O SEA EN ...  2020-03-22T05:21:12.000Z
4  en misiones no hay casos porque acá tenemos al...  2020-03-22T15:42:33.000Z
5  Última hora: Pedro Sánchez avança als presiden...  2020-03-22T10:07:30.000Z
6  @derek_adesso Hover over any location in the w...  2020-03-22T04:08:28.000Z
7                            https://t.co/AYPd7erCiB  2020-03-22T04:45:00.000Z
8  段々と外堀が、埋まってきましたね！ こんな状況で通常開催にこだわる日本政府は愚か💢\n\n【...  2020-03-22T09:32:08.000Z
9      @realDonaldTrump Asshole it's called covid-19  2020-03-22T04:33:54.000Z

In [19]:
data3=data2[data2.text.map(lambda x: x.isascii())]

AttributeError: 'int' object has no attribute 'isascii'