In [ ]:
pip install pandas

In [ ]:
import pandas as pd
data = pd.read_excel('/home/shakkib/Documents/assignment gfg.xlsx')

In [18]:
import langdetect as ld

ModuleNotFoundError: No module named 'langdetect'

In [1]:
import pandas as pd
data = pd.read_excel('/home/shakkib/Documents/assignment gfg.xlsx')

ImportError: Missing optional dependency 'xlrd'. Install xlrd >= 1.0.0 for Excel support Use pip or conda to install xlrd.

In [2]:
pip install xlrd

Collecting xlrd
  Downloading https://files.pythonhosted.org/packages/a6/0c/c2a72d51fe56e08a08acc85d13013558a2d793028ae7385448a6ccdfae64/xlrd-2.0.1-py2.py3-none-any.whl (96kB)
     |████████████████████████████████| 102kB 890kB/s ta 0:00:01
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
data = pd.read_excel('/home/shakkib/Documents/assignment gfg.xlsx')

ValueError: Your version of xlrd is 2.0.1. In xlrd >= 2.0, only the xls format is supported. Install openpyxl instead.

In [2]:
pip install openpyxl

Collecting openpyxl
  Downloading https://files.pythonhosted.org/packages/39/08/595298c9b7ced75e7d23be3e7596459980d63bc35112ca765ceccafbe9a4/openpyxl-3.0.7-py2.py3-none-any.whl (243kB)
     |████████████████████████████████| 245kB 767kB/s eta 0:00:01
Collecting et-xmlfile (from openpyxl)
  Downloading https://files.pythonhosted.org/packages/22/28/a99c42aea746e18382ad9fb36f64c1c1f04216f41797f2f0fa567da11388/et_xmlfile-1.0.1.tar.gz
Building wheels for collected packages: et-xmlfile
  Building wheel for et-xmlfile (setup.py) ... done
  Stored in directory: /home/shakkib/snap/jupyter/6/.cache/pip/wheels/2a/77/35/0da0965a057698121fc7d8c5a7a9955cdbfb3cc4e2423cad39
Successfully built et-xmlfile
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.0.1 openpyxl-3.0.7
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
data = pd.read_excel('/home/shakkib/Documents/assignment gfg.xlsx')

In [2]:
data.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,text,id,created_at

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2005 entries, 0 to 2004
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  0 non-null      float64
 1   Unnamed: 1  0 non-null      float64
 2   Unnamed: 2  0 non-null      float64
 3   Unnamed: 3  0 non-null      float64
 4   Unnamed: 4  0 non-null      float64
 5   Unnamed: 5  0 non-null      float64
 6   Unnamed: 6  0 non-null      float64
 7   Unnamed: 7  2001 non-null   object
 8   Unnamed: 8  2001 non-null   object
 9   Unnamed: 9  2001 non-null   object
dtypes: float64(7), object(3)
memory usage: 156.8+ KB

In [4]:
data.shape()

TypeError: 'tuple' object is not callable

In [5]:
data.tail(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
1995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sahabat Raditya Dika Meninggal Dunia karena Co...,1241710168640869888,2020-03-22T12:55:48.000Z
1996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Go out, visit beach. Putin will buy ice-cream!...",1241743101884019968,2020-03-22T15:06:40.000Z
1997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,@SakshiHDTV @CMOKerala @vijayanpinarayi @CPIMK...,1241639775695600128,2020-03-22T08:16:05.000Z
1998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,For sure some Mabena went out last night becau...,1241713431583099904,2020-03-22T13:08:46.000Z
1999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,El número de personas contagiadas en la Región...,1241634777255630080,2020-03-22T07:56:14.000Z
2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Really! @realDonaldTrump @GOP YOUR DISGUSTING ...,1241718242890170112,2020-03-22T13:27:53.000Z
2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,The latest The Butterfly Effect! https://t.co/...,1241712911678159872,2020-03-22T13:06:42.000Z
2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,avinash_4972 गाव भोर तालुका भोर जिल्हा पुणे\n#...,1241639423147719936,2020-03-22T08:14:41.000Z
2003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,woi rmai jgk dkt muar yg kena yek @diasnaiffus...,1241709652842149888,2020-03-22T12:53:45.000Z
2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,La SSI (ex-RSI) prend des mesures pour souteni...,1241716435451340032,2020-03-22T13:20:42.000Z

In [13]:
data1=data.drop(['Unnamed: 0','Unnamed: 1','Unnamed: 2','Unnamed: 3','Unnamed: 4', 'Unnamed: 5' ,'Unnamed: 6','Unnamed: 8'],axis=1)

In [14]:
data1.head(10)

                                          Unnamed: 7                Unnamed: 9
0                                                NaN                       NaN
1                                                NaN                       NaN
2                                                NaN                       NaN
3                                                NaN                       NaN
4                                               text                created_at
5  #Cientificos #Delincuentes https://t.co/qMuDl8...  2020-03-22T16:33:33.000Z
6  Packed UK concerts amid rising Covid-19 cases ...  2020-03-22T11:35:12.000Z
7  #DiputadasQuerétaro   QUERÉTARO REFERENTE A NI...  2020-03-22T15:10:57.000Z
8  QUE PUTAS YA SON TANTOS, PARCEEEE??? O SEA EN ...  2020-03-22T05:21:12.000Z
9  en misiones no hay casos porque acá tenemos al...  2020-03-22T15:42:33.000Z

In [10]:
data.info(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2005 entries, 0 to 2004
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  0 non-null      float64
 1   Unnamed: 1  0 non-null      float64
 2   Unnamed: 2  0 non-null      float64
 3   Unnamed: 3  0 non-null      float64
 4   Unnamed: 4  0 non-null      float64
 5   Unnamed: 5  0 non-null      float64
 6   Unnamed: 6  0 non-null      float64
 7   Unnamed: 7  2001 non-null   object
 8   Unnamed: 8  2001 non-null   object
 9   Unnamed: 9  2001 non-null   object
dtypes: float64(7), object(3)
memory usage: 156.8+ KB

In [11]:
data.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,text,id,created_at
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,#Cientificos #Delincuentes https://t.co/qMuDl8...,1241764966912450048,2020-03-22T16:33:33.000Z
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Packed UK concerts amid rising Covid-19 cases ...,1241689884911379968,2020-03-22T11:35:12.000Z
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,#DiputadasQuerétaro QUERÉTARO REFERENTE A NI...,1241744180352880128,2020-03-22T15:10:57.000Z
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"QUE PUTAS YA SON TANTOS, PARCEEEE??? O SEA EN ...",1241595765904079872,2020-03-22T05:21:12.000Z
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,en misiones no hay casos porque acá tenemos al...,1241752132455480064,2020-03-22T15:42:33.000Z

In [15]:
data1.head()

  Unnamed: 7  Unnamed: 9
0        NaN         NaN
1        NaN         NaN
2        NaN         NaN
3        NaN         NaN
4       text  created_at

In [16]:
data1.head(10)

                                          Unnamed: 7                Unnamed: 9
0                                                NaN                       NaN
1                                                NaN                       NaN
2                                                NaN                       NaN
3                                                NaN                       NaN
4                                               text                created_at
5  #Cientificos #Delincuentes https://t.co/qMuDl8...  2020-03-22T16:33:33.000Z
6  Packed UK concerts amid rising Covid-19 cases ...  2020-03-22T11:35:12.000Z
7  #DiputadasQuerétaro   QUERÉTARO REFERENTE A NI...  2020-03-22T15:10:57.000Z
8  QUE PUTAS YA SON TANTOS, PARCEEEE??? O SEA EN ...  2020-03-22T05:21:12.000Z
9  en misiones no hay casos porque acá tenemos al...  2020-03-22T15:42:33.000Z

In [19]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2005 entries, 0 to 2004
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 7  2001 non-null   object
 1   Unnamed: 9  2001 non-null   object
dtypes: object(2)
memory usage: 31.5+ KB

In [24]:
data2 = data1.drop(['0','1','2','3'],inplace=True,axis=0)

KeyError: "['0' '1' '2' '3'] not found in axis"